.box.lab {
	position: relative;
	display: block;
	background-color: white;
	min-height: 350px;
	height: 100%;
	width: 100%;
	border-radius: 0px;
	padding: 0;
}

.box.lab .box-header {
	padding: 12px;
	border-bottom: 1px solid #CCC;
	background-color: rgb(245,245,245);
}

.box.lab .box-body {
	position: relative;
	display: block;
	height: calc(100% - 52px);
	width: 100%;
	background-color: white;
}

#lab-image-screen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.lab-image-screen-select {
	position: absolute;
	background-color: rgba(0,147,147,0.3);
	/* Inline Style Required For top, left, height, width */	
}

#lab-image {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100vh - 52px - 70px - 36px);
	width: 100%;
	margin: 0 auto;
}

#fake-lab-image {

}