
.to-right {
	float: right;
}

input[name="search"] {
	margin-bottom: .5rem;
}

.field:not(:last-child){
	margin-bottom: .2rem;
}

.hint-label,
.hint  {
	font-size: .8em;
}

.sort.panel.columns {
	margin: 0 0 0 0;
}

.sort.panel.columns .panel-block{
	border-top: 1px solid #dbdbdb;
}

.panel-block.column {
	border-bottom: none;
}

.panel-block.column:not(:last-child){
	border-right: none;
}

a.child.panel-block.columns,
a.child.panel-block.columns .column {
	padding: 0;
	margin: 0;
}

a.child.panel-block.columns .column {
	padding: 6px 12px;
}

a.child.panel-block.columns .column {
	text-align: center;
}

.column.sort {
	text-align: right;
}